body {
    background-image: none;
    background-color: #f0c444;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* navigation */

  .navbar{
    background-color: antiquewhite ;
    font-weight: bold;
    box-shadow: 0px 0px 2px 0px black;
}

.nav-link{
    color:#3E494F;
}

/* AboutMe section */

#AboutMe-section    
{text-align: center;
}
/*  Projects section */

#projects-section {
    background-color: antiquewhite;
    text-align: center;
    padding-bottom: 15px;
  }
  


h4 {
margin: 10px 0;
padding-left: 7.5px;
padding-right: 7.5px;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
line-height: 21px;
padding: 10px;
}


.card-container {
background-color: white;
box-shadow: 0px 2px 8px 0px black;
text-align: center;
border-radius: 10px;
text-align: center;
}


.skills {
  background-color: 	#E8E8E8;
  text-align: left;
  padding: 15px;
margin-top: 20px;
border-radius: 0 0 10px 10px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1.5px solid black;
border-radius: 2px;
color: black;
  display: inline-block;
  font-size: 10px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

/* Contact Section */

#contact{
    text-align: center;
    color: white;
    padding-bottom: 25px;
  }

  input[type=text],
    select,
    textarea {
      width: 75%;
      padding: 12px;
      border: 1px solid antiquewhite;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=email],
    select,
    textarea {
      width: 75%;
      padding: 12px;
      border: 1px solid antiquewhite;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical
    }

    #inputname {
      text-align: center;
    }

    #contactme {
      text-align: center;
    }