body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar{
    background-color: antiquewhite ;
}

#follow{
    padding-left: 2.5px;
    padding-top: 10px;
    font-weight: bold;
}




#name{
    color: #4DA4CF;
    display: table;  
}



#info{
    color: #3E494F;
    display: table;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#quick_action{
    margin-top: 5px;
    color: #687BF3;
}

.button{
    background-color: #4DA4CF ;
    color:#3E494F;
    border: 5px solid #4DA4CF;
    border-radius: 5px;
}

#social_pro{
    margin-top: 15px;
}
#main{
    margin-left: 35%;
    margin-right: 4%;
    vertical-align: center;
    margin-top: 25%;
}

.fa-linkedin {
    color: #3E494F;
}
.fa-github {
    color: #3E494F;
}
.fa-behance {
    color: #3E494F;
}
.fa-medium{
    color: #3E494F;
}
.fa-twitter {
    color: #3E494F;
}

.fa-envelope{
    color: #3E494F;
}
.fa-phone {
    color: #3E494F;
}
.fa-instagram {
    color: #3E494F;
}
.fa-twitter {
    margin-left: 7.5px;
    color: #3E494F;
}
.fa-facebook {
    margin-left: 2.5px;
    color: #3E494F;
}
.fa-dribbble {
    color: #3E494F;
}

.fa {
    padding: 7.5px;
  }

@media screen and (min-width: 600px) {
    #main{
        margin-left: 42.5%;
        margin-right: 8%;
        margin-top: 20%;
    }
}

@media screen and (min-width: 750px) {
    #main{
        margin-left: 50%;
        margin-right: 10%;
        margin-top: 15%;
    }
}

@media screen and (min-width: 900px) {
    #main{
        margin-left: 52.5%;
        margin-right: 10%;
        margin-top: 12.5%;
    }
}

@media screen and (min-width: 990px) {
    #main{
        margin-left: 55%;
        margin-right: 10%;
        margin-top: 10%;
    }
}
